html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
body {
   margin: 0;
   font-family: 'Roboto', sans-serif; 
   font-weight: 400;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
:root {
    --accent-color: #34547a;
    --grey-color: #727272;
}
.text-h1 {
    font-weight: 500px;
    font-size: 48px;
}
.text-h2 {
    font-weight: 500px;
    font-size: 32px;
}
.text-p {
    font-size: 16px;
}
.header {
    min-height: 700px;
    background-color: #eeeff1;
    background-repeat: no-repeat;
}
.header__title {
    padding-top: 57px;
    width: 1105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    width: 96px;
    height: 60px;
}
.menu {
    width: 611px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    
}
.menu1 {
    font-weight: 500;
    font-size: 16px;
    color: var(--accent-color);
}
.menu2 {
    font-size: 16px;
    color: #000000;
}
.menu3 {
    font-size: 16px;
    color: #000000;
}
.menu4 {
    font-size: 16px;
    color: #000000;
}
.menu5 {
    font-size: 16px;
    color: #000000;
}

.menu__title {
    display: flex;
    padding-top: 162px;
    
    
}
.menu__text {
    

}
.menu__frame {
    
}
.frame {
    position: absolute;
    width: 357px;
    height: 233.7px;
    left: 487px;
    top: 278px;
}
.menu_text_h1 {
    position: absolute;
    width: 541px;
    height: 45px;
    left: 974px;
    top: 257
}
.menu__p {
    color: var(--grey-color);
    position: absolute;
    width: 540px;
    height: 67px;
    left: 975px;
    top: 362px;
}
.menu__button {
    position: absolute;
    width: 225px;
    height: 65px;
    left: 975px;
    top: 489px;
    background-color: var(--accent-color);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.about-me { 
    
    text-align: center;
    padding-top: 78px;
}
.about-me_h2 {

}
.about-me_p {
    color: var(--grey-color);
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 858px;
}

.numbers {
    
    position: absolute;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 1003px;
    background-color: var(--accent-color);
}
.rectangle {
    display: flex;
}
.numbers__item {
    padding-top: 100px;
    padding-left: 49px;
    display: flex;
    color: #ffffff;
    
}
.numbers__logo {
}
.logo__item {

}
.item__text {
    padding-left: 20px;
}
.item__h3 {
}
.text-p {
}
.item__p {
}

.skills {
    position: absolute;
    width: 1150px;
    height: 450px;
    left: 385px;
    top: 1331px;
}
.skills__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.skills__list {
 

}
.text-h2 {
    
}
.skills__h2 {
    margin-bottom: 50px;
}
.one__skills {
    
}
.text-p {
    
}
.skills__p {
    margin-bottom: 20px;
    color: var(--grey-color);
}
.progress-bar {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: #999;
    margin-bottom: 10px;
}
.progress-bar-completed {
    background-color: var(--accent-color);
}
.progress-bar-remaning {
}
.two__skills {
}
.three__skills {
}
.skills__photo {
    

}
.skills-photo-one {
    width: 555px;
    height: 450px;
}
.video {
    cursor: pointer;
}
.video__title {
    
}
.text-h2 {
}
.video__title-h2 {
    text-align: center;
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    top: 1959px;
}
.text-p {

}
.video__title-p {
    text-align: center;
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 2039px;
    color: var(--grey-color);
}
.video__video {
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 2163px;
}
.project {
   
}
.project__card {
    position: absolute;
width: 1920px;
height: 960px;
left: 0px;
top: 2941px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    

}
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-image: url(/img/card1.png);
    background-size: cover;
    position: relative;
}
.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-image: url(/img/card\ filter.png);
    background-size: cover;
    position: relative;
}
.card-view-icon {
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
.card-filter {
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease;
}
.card:hover .card-filter {
    opacity: 1;
}
.card:hover .card-filter {
    opacity: 0.8;
}
.clients {
    position: absolute;
width: 1110px;
height: 120px;
left: 405px;
top: 3979px;
}
.emblem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}
.emblem__logo {
}
.logo_emblem {
}
.forme {
    
}    
.form__title {

}
.text-h2 {
}
.form__title-h2 {
    text-align: center;
    position: absolute;
    width: 406px;
    height: 30px;
    left: 755px;
    top: 4277px;
    

}
.text-p {
 
}
.form__title-p {
    text-align: center;
    position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 4357px;
   
   
}
.form__flex__group {
   
}
.form__form {
 
}
.form__group {
    
}
.form__input__name {
    position: absolute;
width: 255px;
height: 50px;
left: 690px;
top: 4489px;
}

.form__input__e-mail {
    position: absolute;
    width: 255px;
    height: 50px;
    left: 975px;
    top: 4489px;
}
.form__input__text {
    position: absolute;
    width: 540px;
    height: 175px;
    left: 690px;
    top: 4559px;
}
.form__button {
    position: absolute;
    width: 190px;
    height: 55px;
    left: 864px;
    top: 4784px;
    background-color: var(--accent-color);
}
.text__button-p {
    text-transform: uppercase;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
text-align: center;
letter-spacing: 0.15em;

color: #FFFFFF;
}
.form__label__name {
    position: absolute;
    width: 74px;
    height: 15px;
    left: 710px;
    top: 4506px;
    
}
.form__label__e-mail {
    position: absolute;
    width: 74px;
    height: 15px;
    left: 995px;
    top: 4506px;
}
.form__label__text {
    position: absolute;
    width: 82px;
    height: 15px;
    left: 710px;
    top: 4576px;
}
.text__p1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
}
.footer {
    width: 1920px;
}
.footer__rectangle {
    display: flex;
    position: absolute;
width: 1920px;
height: 151px;
left: 0px;
top: 5017px;
background-color: var(--accent-color);
align-items: center;
justify-content: space-between;

}
.footer__text {
    padding-left: 406px;
}
.text__h3__name {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;

color: #FFFFFF;
}
.text__p__name {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
}
.footer__logo {
    display: flex;
    padding-right: 389px;
}
.logo1 {
    
}
.footer__logo__one {
    padding-left: 20px;
}
